/* =============================================================================
   Register
   ========================================================================== */
#register {
	width: 900px;
	text-align: center;
	margin-top: 10px;
	margin-left: 100px;
}

.register_title{
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	text-shadow: 2px 2px #000000;
	text-align: center;
}

.fix{
	width: 900px;
	font-weight: bold;
	font-size: 12px;
	color: #FFFF00;
}

.submit {
	margin-left: 0px;
}

input,select,textarea {
	width: 300px;
	-webkit-border-radius: 4;
	-moz-border-radius: 4px;
	border-radius: 5px 4px 4px;
	border: 1px solid #c0c0c0;
	padding: 3px;
	margin-bottom: 2px;
	vertical-align: middle;
	font-size: 13px;
}

input,textarea {
	overflow: visible;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


select {
	width: 300px;
	height: 29px;
}

.terms {
	padding-top: 7px;
}

#textarea {
	background-image: url(http://www.m2phoenix.com/assets/images/bg_select_phoenix.jpg);
	width: 500px;
	height: 130px;
	font-family: "Nimbus Sans L","FreeSans",Arial;
	text-align: center;
	font-size: 12px;
	color: #555555;
	border-radius: 4px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 7px;
	padding-left: 5px;
	padding-right: 2px;
	margin-bottom: 6px;
	margin-left: 200px;
	margin-right: 180px;
}

button {
	overflow: visible;
	padding-bottom: 10px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 10px;
}

input[type=checkbox]:checked {
	border-color: #80C63D;
	-moz-box-shadow: 0 0 6px #80C63D;
	-webkit-box-shadow: 0 0 6px #80C63D;
	box-shadow: 0 0 6px #80C63D;
}

input[type=password] {
	background-position: 0px center;
	background-repeat: no-repeat;
}

label.error {
	background: #FEF1EC url(http://www.m2phoenix.com/assets/images/exclamation.png) no-repeat 5px 5px;
	border-radius: 5px;
	border: 1px solid #febb07;
	display: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top: 5px;
	padding-left: 25px;
	padding-right: 10px;
	padding-bottom: 5px;
	margin-left: 10px;
	position: absolute;
	color: #F00;
}

label.valid {
	background: url(http://www.m2phoenix.com/assets/images/accept.png) no-repeat;
	border:none;
	height:16px;
	width:16px;
	padding-top: 5px;
    padding-left: 25px;
	padding-bottom: 5px;
	position: absolute;
}

.markee {
	width: 11px;
	height: 11px;
}

#table {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
}

.center {
	width: 72%;
	height: 620px;
	float: left;
}

.rigth {
	width: 25%;
	height: 200px;
	float: left;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 2px;
}
