@media only screen and (max-width: 480px) {
    .about-us {
      padding: 0 !important;
    }

    #col-main {
        margin: 0 !important;
    }

    .descRecup {
        font-size: 65% !important;
    }
  }

  @media only screen and (max-width: 415px) {
    .campo {
        margin-left: -1em !important;
    }

    .campoModif {
        margin-left: -3em !important;
    }
  }



  @media only screen and (max-width: 767px) {
    .mainDiv {
         width: 100% !important;
    }
  }

  @media only screen and (max-width: 374px){
    .mainDiv {
        width: 110% !important;
        margin-left: -5% !important;
    }

    font {
        font-size: 65% !important;
    }

    .divInputCadastro > input {
        width: 300px !important;
        background-size: 300px !important;
    }

    .register-content-button {
        margin-left: 0px !important;
   }
  }

  @media only screen and (max-width: 320px){
    .descRecup {
        font-size: 50% !important;
    }

    .titleCadastro {
      font-size: 53px !important;
    }
  }

  @media only screen and (max-width: 350px){
    .divInputCadastro {
        padding-left: 0 !important;
    }

    .divInputCadastro > input {
        width: 300px !important;
        background-size: 300px !important;
    }

    .mainForcaSenha {
        margin-left: 0px !important;
    }
    
  }

  @media only screen and (max-width: 598px) {
       input[type="submit"], input[type="reset"] {
        width: 80% !important;
        background-size: 100%  45px !important;
    }

    .tdCandidato {
        display:block; box-sizing:border-box; clear:both;
      }
}

  @media only screen and (min-width: 320px) and (max-width: 992px) {
    font {
      font-size: 82% !important;
    }

    .mainForcaSenha > div {
        display: none;
        background: rgba(255, 255, 255, 0.5);
        width: 315px !important;
        min-height: 50px !important;
        padding: 0px 5px !important;
    }

    .forcaSenha {
      margin: 0px !important;
      clear: initial !important;
      background-size: 65px 50px !important;
      width: 60px !important;
      height: 50px !important;
    }
  }

  @media only screen and (min-width: 351px) and (max-width: 992px) {
    .mainForcaSenha {
        margin-left: 5% !important;
        margin-top: -45px !important;
    }
  }

  @media only screen and (min-width: 993px){
  
    .mainForcaSenha > div {
        display: block !important;
        background: none !important;
    }
  
  }

  @media only screen and (max-width: 767px) {
    .mainDiv50 {
        width: 100% !important;
        text-align: center !important;
        margin-top: 10%;
    }

    .text-responsive {
        padding-right: auto !important;
        padding-left: auto !important;
    }
    
  }



  .col-eleicao {
      margin: auto !important;
  }
