/* =============================================================================
   Senha
   ========================================================================== */
.strong_password img
{
	width: 55px;
	height: 32px;
	background-image: url(http://www.m2phoenix.com/assets/images/nivel_senhas.png);
	margin-top: 2px;
}

.strong_password #imgUppercase.erro 
{
    background-position:-3px 0px;
}

.strong_password #imgUppercase.ok 
{
    background-position:-3px -34px;
}

.strong_password #imgLowerCase.erro 
{
    background-position:-65px -0px;
}

.strong_password #imgLowerCase.ok 
{
    background-position:-65px -34px;
}

.strong_password #imgSpecialCharacter.erro 
{
    background-position:-124px 0px;
}

.strong_password #imgSpecialCharacter.ok 
{
    background-position:-124px -34px;
}

.strong_password #imgNumber.erro 
{
	background-position: -182px 0px;
}

.strong_password #imgNumber.ok 
{
    background-position:-182px -34px;
}

.strong_password #imgMinimalSize.erro 
{
    background-position:-233px 0px;
}

.strong_password #imgMinimalSize.ok 
{
    background-position:-233px -34px;
}
#cadastro {
	font-size: 9px;
}
